.fi-sidebar-nav::-webkit-scrollbar {
width: 10px;
background-color: #fff;
}
/* Customize Thumb */
.fi-sidebar-nav::-webkit-scrollbar-thumb {
background-color: #cccccc;
border-radius: 10px;
}
.fi-sidebar-nav::-webkit-scrollbar-thumb:hover {
background-color: #cccccc;
}
.fi-sidebar-nav::-webkit-scrollbar-thumb:active {
background-color: #cccccc;
}
